canvas {
    border: 2px solid #ccc;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
  }

#game-container{
  display:flex;
  justify-content: center;
  bottom:130px;
  right:40px;
}

.unit-card{
  padding-top:55px;
  padding-bottom: 55px;
  padding-left:55px;
  padding-right:55px;
  border-radius: 38px;
  margin-right: 15px;
  margin-left: 15px;
  height:250px;
  font-weight: bold;
  display: flex;
  justify-content: start;
  border:2px solid black;
  
}

.unit-card:hover{
  scale: 1.1;
  border: gold 3px solid;
}

#flexing{
  display: flex;
  width:75%;
  justify-content: space-around;
  margin:auto;
}

.player-name{
  border:1px solid black;
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.player-name1{
  margin-right: 75px;
}


#player1{
  margin-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  border:3px solid black;
  background-color: red;
  outline: blue 3px solid;
}

#player2{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 25px;
  display: flex;
  background-color: blue;
  border:3px solid black;
  outline: red 3px solid;
}

#card2{
  background-image: url(./images/tank/TANK.jpg);
  background-position: center;
}

#card4{
  background-image: url(./images/tank/TANK.jpg);
  background-position: center;
}

#card1{
  background-image: url(./images/Soldier/soldier\ header.jpg);
}

#card3{
  background-image: url(./images/Soldier/soldier\ header.jpg);

}
